<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
    
    <header>
        <div class="container">
            <div class="row">
                <div class="jumbotron text-center">
                    <h1>Mission to Mars</h1>
                    <!-- <a href="/scrape" target="_parent"> -->
                    <a href="/scrape" >
                        <button type="button" class="btn btn-primary">Scrape Latest Data</button>
                    </a>     
                </div>
            </div>
        </div>
    </header>

    <!-- Mars News Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Latest Mars News</h2>
                    <br>
                    <p>Date Published: July 19, 2018</p>
                    <p class="lead">Storm Chasers' on Mars Searching for Dusty Secrets</p>
                    <p>Scientists with NASA's Mars orbiters have been waiting years for an event like the current Mars global dust storm.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Featured image, Current Weather, and Mars Fact Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 featured-mars-image">
                    <div >
                        <h2>Featured Mars Image</h2>
                        <img src="https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19108_ip.jpg" alt="" class="img-responsive">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class='mars-facts'>
                        <h2>Current Weather on Mars</h2>
                        <br>
                        <p>{{data['marsWeatherTweet']}}</p>
                        <table border="1" class="dataframe">
                            <thead>
                                <tr style="text-align: right;">
                                    <th>description</th>
                                    <th>value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Equatorial Diameter:</td>
                                    <td>6,792 km</td>
                                </tr>
                                <tr>
                                    <td>Polar Diameter:</td>
                                    <td>6,752 km</td>
                                </tr>
                                <tr>
                                    <td>Mass:</td>
                                    <td>6.42 x 10^23 kg (10.7% Earth)</td>
                                </tr>
                                <tr>
                                    <td>Moons:</td>
                                    <td>2 (Phobos &amp; Deimos)</td>
                                </tr>
                                <tr>
                                    <td>Orbit Distance:</td>
                                    <td>227,943,824 km (1.52 AU)</td>
                                </tr>
                                <tr>
                                    <td>Orbit Period:</td>
                                    <td>687 days (1.9 years)</td>
                                </tr>
                                <tr>
                                    <td>Surface Temperature:</td>
                                    <td>-153 to 20 °C</td>
                                </tr>
                                <tr>
                                    <td>First Record:</td>
                                    <td>2nd millennium BC</td>
                                </tr>
                                <tr>
                                    <td>Recorded By:</td>
                                    <td>Egyptian astronomers</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Mars Hemispheres -->
    <section>
        <div class="container">
            <div class="row ">
                <h2>Mars Hemispheres</h2>
                <div class="col-xs-6 col-md-6 text-center">
                    <h4>Mars Picture #1</h4>
                    <a href="#" class="thumbnail">
                        <img src="https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg" alt="...">
                    </a>
                </div>

                <div class="col-xs-6 col-md-6 text-center">
                    <h4>Mars Picture #2</h4>
                    <a href="#" class="thumbnail">
                        <img src="https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg" alt="...">
                    </a>
                </div>

                <div class="col-xs-6 col-md-6 text-center">
                    <h4>Mars Picture #3</h4>
                    <a href="#" class="thumbnail">
                        <img src="https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg" alt="...">
                    </a>
                </div>

                <div class="col-xs-6 col-md-6 text-center">
                    <h4>Mars Picture #4</h4>
                    <a href="#" class="thumbnail">
                        <img src="https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>